.body-cont {
    background-image: url("../images/just-waves.png");
    width: 100vw;

}

h1 {
    display: inline-block;
    background-color: #e67300;
    color: white;
    padding: 15px 0px 20px 0px;
    margin: 10px 0px 0px 15px;
}

.instructions {
    /* display: inline-block; */
    /* width: 70%; */
    width: 400px;
    background-color: #ffe6cc;
    word-spacing: 0.25em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 14pt;
    color: #009900;
}

.remove-left {
    margin-left: 0px;

}

.instructions {
    margin-left: 15px;
}

#rand-num {
    height:150px;

}

.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.gem-button {
    width: 150px;
    margin: 10px 15px;
}
/* #amber {
    height: 150px;
    
}

#emerald {
    height: 150px;

}

#ruby {
    height: 150px;

}*/

/* #sapphire-col {
    width: 150px!important;
}

#sapphire {
    height: 150px;
    width: 150px;
    display: block;
    margin: 0px 28px;

}  */



@media only screen and (max-width: 720px) {
    #gems {
        width: 380px;
        /* padding: 0px; */
    }
    /* .page-bkgrd{
        width: 40%;
        padding: 20px 0px 50px 0px;
    } */
}

@media only screen and (max-width: 400px) {
    .instructions {
        width: 100vw;
        /* padding: 0px; */
    }
    /* .page-bkgrd{
        width: 40%;
        padding: 20px 0px 50px 0px;
    } */
}

@media only screen and (max-width: 360px) {
    #gems {
        width: 190px;
        /* padding: 0px; */
    }
    /* .page-bkgrd{
        width: 40%;
        padding: 20px 0px 50px 0px;
    } */
}

/* @media only screen and (max-width: 768px) {
    nav {
        padding: 0px;
    }
    .page-bkgrd{
        padding: 20px 0px 50px 0px;
    }
}

@media only screen and (max-width: 980px) {
    nav {
        padding: 0px 144px 0px 0px;
    }
    .page-bkgrd{
        padding: 20px 144px 50px 0px;
    }
} */